/* Blocks */
.wysiwyg-block-align-left {
	text-align: left;
}
.wysiwyg-block-align-center {
	text-align: center;
}
.wysiwyg-block-align-right {
	text-align: right;
}
.wysiwyg-block-align-justify {
	text-align: justify;
}